@model PagedList.IPagedList<SurveySite.Models.Question>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Surveys";
}

<h2>Surveys</h2>


<p>
    Select from @Model.Count() surveys:
</p>
<ul>
    @foreach(var question in Model)
    {
        <li>@Html.ActionLink(question.Text, "Details", 
            new { id = question.QuestionId })</li>
    }
</ul>

<br /><br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))